/*----------------------------*/
/*----- pedro costa 2019 -----*/
/*----------------------------*/

body {
background-image: url('../img/bg.jpg');
background-size: cover;
background-attachment: fixed;
background-repeat:  no-repeat;


	
}


@font-face {
  font-family: Pirate_Scripts;
  src: url(../fonts/Pirate_Scripts.otf);
}


@font-face {
  font-family: Wildy-Sans;
  src: url(../fonts/Wildy-Sans.ttf);
}


@font-face {
  font-family: Azonix;
  src: url(../fonts/Azonix.otf);
}

@font-face {
  font-family: Versa-Versa;
  src: url(../fonts/Versa-Versa.otf);
}



#titulo {
	
	width: 800px;
	margin: auto;
	text-align: center;

	padding-top: 100px;
	font-size: 200px;
	color: #333333;	
	font-family: Pirate_Scripts;
	transform: rotate(-10deg);
}

#sub-titulo {

	text-align: center;
	padding-left: 600px;
	margin-top: -70px;	
	color: #FFC100;
	font-size: 15px;
	font-family: Wildy-Sans;
}



#titulo-pequeno {	
	margin-top: -140px;
	transform: scale(0.3, 0.3);
}



.cart {
	width: 20px;
	height: 20px;
	margin: auto;
}


.logo {
	width: 300px;
	height: 180px;
}

.gridloja {
	margin-top: -70px;
}

.textprod {
	text-transform: uppercase;
	font-family: Versa-Versa;
}
  

.div3d {
	-webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
  

}

.imgindex {
	width: 300px;
	height:200px;
	padding-bottom: 5px;
	opacity: 30%;
	border-radius: 10px;

}

.imgindex:hover {
 	
 	transition-duration: 1.5s;
 	opacity: 100%;
 }


.imgmarcas {
	
	width: 100px;
	opacity: 100%;

	
	

}
 .imgmarcas:hover {
 	
 	opacity: 50%;
 	transition-duration: 1s;

 	

 }

 .cardfundo {
 	
 	background-image: url(../img/marcas/adidas_logo3.png);
 	
 	
 	
 	color: #fff;
 	
 	font-size: 20px;
 	text-align: justify;
 	
 	

 	-webkit-box-shadow: inset 10px 10px 300px 400px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 10px 10px 300px 400px rgba(0,0,0,0.75);
	box-shadow: inset 10px 10px 300px 400px rgba(0,0,0,0.75);
 }


.cardfundo2 {
	background-image: url(../img/marcas/nike_logo2.jpg);
	background-size: 1500px ;
}

.cardfundo3 {
	background-image: url(../img/marcas/gucci_logo.jpg);
}


.imgsobre {
	opacity:60%;
	border-radius: 30px;


}

.imgsobre:hover {
	opacity: 100%;
	transition-duration: 1s;
	
}

 .slidemarcas {
 	height: 700px;
 	border-radius: 50px;
 	filter: grayscale(100%);
 	border-style: solid;
 	border-width: 2px;

 	border-color: white;


}



.slidemarcas:hover {
	filter: grayscale(0%);
	transition-duration: 1.5s;
	border-style: solid;


}






.visit {

	font-family: Pirate_Scripts;
	font-size: 150px;
	text-align: right;
	transform: rotate(20deg);
	color: #FFC100;

	
	z-index: 1000;
    position: absolute;

    margin-left: 700px;

    -webkit-text-stroke-color: black;
  	-webkit-text-stroke-width: 1px;

  	text-shadow: 2px 2px 3px #000000;


}


.visit:hover {


	transform: rotate(20deg);
	

}

 .boxsobre {
 	
 	
 	background-color: #fff; 	
 	align-self: center;


 	
 	border-radius: 1000px;
 	border-style: solid;
 	border-width: 10px;
 	border-color: #fff;

 	width: 700px;
 	height: 700px;
 	
 	

 	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

 }


 .quemsomos { 	
 	font-family: Pirate_Scripts;
 	text-transform: uppercase;
	font-size: 100px;
	text-align: right;
	transform: rotate(-20deg);
	
	color: #FFC100;

	
	z-index: 1000;
    position: absolute;
    margin-left: -50px;

    

    -webkit-text-stroke-color: black;
  	-webkit-text-stroke-width: 1px;

  	text-shadow: 2px 2px 3px #000000;
 }



 .textsobre {
 	
 	border-color: red;
 	border-width: 2px;
 	width: 500px;
 	height: 500px;
 	margin-top: 100px;


 }

 .textsobre p {

 	
 	
 	font-family: ;
 	
 	font-size: 30px;


 	color: transparent;
	background: #666666;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-shadow: 0px 3px 3px rgba(255,255,255,0.5);

 }

 .textsobre h1 {
 	margin-top:120px;
 	font-family: Versa-Versa;
 	margin-left: 150px;
 	
 }



 .boxsobresmall {

 	background-color: #fff; 	


 	
 	border-radius: 1000px;
 	border-style: solid;
 	border-width: 10px;
 	border-color: #fff;

 	width: 400px;
 	height: 400px;	
 	

 	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 }

 

 .iptlogo1 {
 	width: 300px;
 	margin-left: 40px ;
 	margin-top: 120px;
 }

 .iptlogo2 {
 	width: 370px;
 	margin-right: 5px;
 	margin-top: 125px;
 }




 .tituloloja {
 	font-family: Versa-Versa;
 	text-transform: uppercase;
 	font-size: 85px;
 	color: #FFC100;
 	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
 }

 .titulomarcas {
 	font-family: Versa-Versa;
 	text-transform: uppercase;
 	font-size: 74px;
 	color: #FFC100;
 	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);

 	margin-top: -70px;
 }


 .conjuntos {
 	font-family: Versa-Versa;
 	font-size: 30px;
 }



 .boxfooter {

 	border-radius: 15px; 	
 	background-color: #272727;
 	height: 150px;

 	margin-bottom: 50px;
 	padding-top: 10px; 	

 	-webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);


 }


 .boxfooter h2 {
 	font-family: Versa-Versa;
 	font-size: 35px;	

 	
 	color: #FFC100;
 	padding-left: 20px;
 	padding-top: 20px;
 	text-shadow: 2px 2px 2px #000000;


 }

 .boxfooter p {
 	font-family: ;
 	text-transform: uppercase;
 	font-size: 20px;
 	color: #fff;
 	
 	text-shadow: 2px 2px 2px #000000;


 }
/*----------------------------*/
/*----------------------------*/







